__pycache__/
*.pyc
.env
.ipynb_checkpoints/
*.csv
!private_knowledgeHub/KA_knowledge_acquired.csv
*.tmx
!tmxes_samples/sample_en_fr.tmx
!tmxes_samples/sample_en_de.tmx
*.xliff
data/
models/
*.pt
*.bin